:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --color-primary: ;
  --color-primary-dark: ;
  --color-primary-light: ;

  --color-secondary: ;
  --color-secondary-dark: ;
  --color-secondary-light: ;




  /* ------------------------------------ */
    --color-background: #121212;
  /* ------------------------------------ */


  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

h1 {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  background: -webkit-linear-gradient(45deg, #F6DC43, #A5158C 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #F6DC43;
  filter: drop-shadow(0 0 0 transparent);
  transition: all 300ms;
}

a:hover {
  filter: drop-shadow(0 0 2rem #F6DC43);
  background: -webkit-linear-gradient(45deg, #F6DC43, #A5158C 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 700;
}

a:active {
  background: -webkit-linear-gradient(45deg, #F6DC43, #A5158C 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 700;
}

p {
  font-size: 20px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #121212;
  color: #ffffff;
}

.logo {
  width: 70px;
  transition: all 500ms;
}

header {
  position: fixed;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease-in 500ms;
  z-index: 10;

  @media only screen and (min-width: 768px) {
    width: 30%;
  }


  div {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

header[scrolled] {
  @media only screen and (min-width: 768px) {

  }
}

@keyframes highlight {
    0% {

      background-position: 0 50%;
    }

    50%{

    }

    100% {

      background-position: 100% 50%;
    }
}

.hero {
  h2 {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    animation: highlight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: #F6DC43;
    font-size: 48px;
    background: linear-gradient(
            to left,
            #F6DC43 20%,
            #A5158C 30%,
            #A5158C 70%,
            #F6DC43 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
  }
}

section, footer {
  max-width: 1400px;
}

.nav-trigger {
  cursor: pointer;
}

.navigation-header {
  opacity: 0;
  max-height: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  transition: all 300ms;

  ul {
    padding: 20px;
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
  }

  li {
    display: flex;
    justify-content: center;
  }

  a {
    font-size: 24px;
  }
}

.navigation-header[opened] {
  opacity: 1;
  max-height: 300px;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#technology {
  div {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  img {
    width: 50px;
  }
}

#contact {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  li {
    list-style: none;
  }

}

footer {
  width: 100%;
}

.footer__main {
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  padding: 20px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }

  h3 {
    background: -webkit-linear-gradient(45deg, #F6DC43, #A5158C 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  a{
    font-size: 18px;
  }
}

.footer__bottom {
  display: flex;
  justify-content: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-image: linear-gradient(to right, #F6DC43, #A5158C) 1;

  p {
    background: -webkit-linear-gradient(45deg, #F6DC43, #A5158C 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 700;
  }
}

.scroll-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 3px solid #A5158C;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all ease-in 500ms;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.scroll-to-top[active] {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top:hover {
  filter: drop-shadow(0 0 2rem #A5158C);
  border-color: #F6DC43;
}

@media (prefers-color-scheme: light) {
  :root {

  }

  a:hover {

  }

  button {

  }
}
